<h1>Customer Profile Page</h1>



@*
    using html helper methods to render partial view
*@

 @* @Html.Partial("_partialView") *@
@* 
@{
    Html.RenderPartial("_partialView")
}  *@

@*using tag helper to rende partial view*@
@* <partial name="_partialView"></partial>  *@      
<partial name="_partialView" />               @*it is also a self closing tag*@

@await Component.InvokeAsync("First",2)

@section sidebar{
    @Html.ActionLink("Create New", "Create", "Customer")
    <br />
   @*  @Html.ActionLink("Details", "Details", "Customer") *@
   <a asp-action="Details" asp-controller="Customer" asp-route-name="Prasad">Details</a>
   <br />
   <a asp-action="DetailsByName" asp-controller="Customer" asp-route-name="Prasad">Details by name</a>
}

<div class="border border-2 bg-primary text-black">
@await Component.InvokeAsync("Users");         @*Users is component name*@
</div>

<div class="border border-2 bg-primary text-white p-3">   
   
</div>

@* <script>
    $(function () {
        $.ajax({
            url: '@Url.Action("details")',
            type: 'get',
            success: function (response) {
                $('#divDetails').html(response);
            },
            error: function (error) {
                alert('details call failed');
            }
        });
    });
</script> *@