@using MVC__Core_Demos.Taghelpers
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<mybutton type="submit" value="Submit Button"></mybutton> |
<mybutton type="button" value="Normal Button"></mybutton>


